<nav class="container nav-container" th:fragment="nav">
    <div class="row nav-row">
        <div class="column logo-col">
            <div class="logo">
                <img class="nav-logo" src="/images/header-image.svg" alt="Ouroboros">
            </div>
        </div>
        <div class="column nav-col grow">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/profile">Games</a></li>
                <li><a href="/search">Books</a></li>
                <li><a href="/logout">Movies</a></li>
            </ul>
        </div>
    </div>
</nav>