<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/head :: head(title='Nerd Wiki - About')"></head>
<body>
  <div class="page-wrapper">
    <nav th:replace="partials/nav :: nav"></nav>
    <div class="container">
      <div class="row">
        <div class="column">
            <h2>About NerdVerse</h2>
            <p>NerdVerse is a comprehensive online platform dedicated to providing in-depth information about movies, and books. Whether you're a film enthusiast, a bookworm, or simply curious about various nerdy topics, NerdVerse has got you covered.</p>
            <p>Our mission is to create a community-driven space where fans and experts alike can come together to explore, discuss, and learn about their favorite movies, books, characters, and everything nerdy.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>